<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ev.exam.arduinobt">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <activity android:name="app.akexorcist.bluetoothspp.DeviceList" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Phase_one"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_phase_one"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Phase_two"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_phase_two"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Phase_three"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_phase_two"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Phase_four"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
